---
applications:
- name: codejam-edi-cap-processor
  memory: 256M
  env:
    SOLACE_AMQP_PROTOCOL: amqps
    SOLACE_AMQP_HOST: mr-connection-xnl78v1xn6c.messaging.solace.cloud
    SOLACE_AMQP_PORT: 5671
    SOLACE_AMQP_PASSWORD: lgcnm3ryq5c70vveix3cyceux6
    SOLACE_AMQP_USERNAME: solace-cloud-client
    SOLACE_AMPQ_QUEUE_NAME: codejam/edi/ajmaradiaga/Tickets/Purchased
    SOLACE_REST_PROTOCOL: https
    SOLACE_REST_HOST: mr-connection-xnl78v1xn6c.messaging.solace.cloud
    SOLACE_REST_PORT: 9443
    SOLACE_REST_USERNAME: solace-cloud-client
    SOLACE_REST_PASSWORD: lgcnm3ryq5c70vveix3cyceux6
  docker:
    image: ajmaradiaga/edi-codejam-cap-processor:1.0